.app-body {
    padding: 8px;
}

.center-form {
    display: flex;
    flex-direction: column;
    padding: 8%;
}

.signup-error-alert {
    width: fit-content;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    outline: none;
}

#id_cover_image {
    background: none;
    border: 1px solid black;
}

.card-title a {
    color: black;
}
