.app-body {
    padding: 8px;
}

.center-form {
    display: flex;
    flex-direction: column;
    padding: 8%;
}

.signup-error-alert {
    width: fit-content;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    outline: none;
}

#petition-detail {
    background: none;
    display: flex;
    flex-direction: column;
}

#petition-detail > #petition-image {
    margin: -4rem -2rem;
    height: auto;
    max-height: 40vh;
    object-fit: cover;
}

#petition-detail > #petition-title {
    padding: 1rem 2rem;
    width: fit-content;
    border-bottom: 4px #BDC3C7 solid;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.navbar.bg-primary {
    background-color: #36D7B7 !important;
    border-color: #16A085 !important;
}

.card-title a {
    color: black;
}
