{% extends 'base.html' %} {% block body %}

<div class="card-columns">
  {% for p in petition_list %}
    <div class="card text-center">
      <img class="card-img-top" src="{{ p.cover_image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ p.title }}</h5>
        <p class="card-text">
          {{ p.description }}
        </p>
        <p class="card-text text-right">
          <small class="text-muted">{{ p.poster }}</small>
        </p>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
