{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form class="center-form" action="/new-petition" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary ml-auto" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% if messages %}
    {% for m in messages %}
        {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger fixed-bottom mx-auto signup-error-alert" role="alert">
                {{ m }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
